<!DOCTYPE html>
<html lang="en">        
    <head>            
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta content="text/html; charset=utf-8" />
        <meta name='baseUrl' id='baseUrl' value='<?= $this->getBaseUrl() ?>' />
        <title>Your Title</title>
      
    </head>
    <body >
        <div class="container" >
          <!-- view content start -->
          <?=$this->layout()->content ?>
          <!-- view content ends -->
        </div>     
        <footer >

        </footer>
    </body>
</html>